<%= stylesheet_link_tag "vuls" %>
<div class="container">
  <div class="page-header">
    <h1 id="timeline"><%= @vuls.name %></h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title"><%= @vuls.name %></h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Date released: <%= @vuls.datedisc %></small></p>
        </div>
        <div class="timeline-body">
          <p><%= @vuls.cvedescription %></p>
        </div>
      </div>
    </li>
    <% @counter = 1 %>
    <% @array = Events.where(name: @vuls.name).order(:date) %>
    <% @array.each do |event| %>
        <% if @counter % 2 == 1 %>
          <% puts %><li class="timeline-inverted">
          <% else %><li>
        <% end %>
        <% @rand = (1...30).sort_by{rand}[1] %>
        <% if @rand % 5 == 1 %>
          <% puts %><div class="timeline-badge danger">
        <% elsif @rand % 5 == 2 %>
          <%puts %><div class="timeline-badge success">
        <% elsif @rand % 5 == 3 %>
          <%puts %><div class="timeline-badge info">
        <% elsif @rand % 5 == 4 %>
          <%puts %><div class="timeline-badge warning">
        <% else %>
          <%puts %><div class="timeline-badge">
        <% end %>

          <i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= event.title %></h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Date of Event: <%= event.date %></small></p>
            </div>
            <div class="timeline-body">
              <p><%= event.description %></p>
            </div>
          </div>
        </li>

        <% @counter += 1 %>

    <% end %>

  </ul>
</div>








